<!-- Code for Carousel -->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
       <%= image_tag 'slide1.JPG', class: 'img-responsive' %>      
    </div>

    <div class="item">
    <%= image_tag 'slide2.JPG', class: 'img-responsive' %>    
  </div>

  <div class="item">
    <%= image_tag 'slide3.jpg', class: 'img-responsive' %>    
  </div>
  </div>  
</div>

<div class="clear"></div>
<br /><br />



<!-- search input -->  
<div class="row">    
  <div class="col-lg-6 col-xs-8 col-xs-offset-2">   
      <div class="form-group form-inline">   
      <span class="input-group-btn">        
       <%= form_tag(places_path, :method => "get", id: "search-form") do %>
       <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "What are you looking for?" %>
       <%= submit_tag "search", class: "btn btn-danger", :name => nil %>
       <% end %>
      </span>
      </div><!-- input-group -->     
  </div><!-- /.col -->
</div><!-- /.row -->








 




<div class="clear"></div>
<br /><br /><br />

<!-- 3 images -->

<div class="textcontainer col-xs-10 col-xs-offset-1"> 

  <div class="clearfix col-sm-3 col-xs-12">        
    <%= link_to places_path do %>     
     <%= image_tag "icon.png", class: "img-responsive seoul" %>
     <div class="titlecontainer"><%= link_to 'All the Places', places_path %></div>     
    <% end %>       
  </div>

  <div class="clearfix col-sm-3 col-xs-12">    
    <%= link_to places_path do %>
     <%= image_tag "icon.png", class: "img-responsive seoul" %>
     <div class="titlecontainer"><%= link_to 'Attractions', places_path(category: 'Attractions') %></div>     
    <% end %> 
  </div>

  <div class="clearfix col-sm-3 col-xs-12">    
    <%= link_to places_path do %>
     <%= image_tag "icon.png", class: "img-responsive seoul" %>
     <div class="titlecontainer"><%= link_to 'Eat&Drink', places_path(category: 'Restaurants') %></div>     
    <% end %>   
  </div>

  <div class="clearfix col-sm-3 col-xs-12">    
    <%= link_to places_path do %>
     <%= image_tag "icon.png", class: "img-responsive seoul" %>
     <div class="titlecontainer"><%= link_to 'Accommodations', places_path(category: 'Accommodations') %></div>     
    <% end %>   
  </div>
  
</div>

<div class="clear"></div>
