<div class="container-fluid">
  <div class="row">

<!-- map -->
<div class="index-booyah-box col-md-6 col-xs-12">

<script>

var locations = [
      <% @places.each do |place| %>
        <% if place == @places.last %>
        ['<%= link_to place.name, place_path(place), target: '_blank' %><br/><%= place.description %>', <%= place.latitude %>, <%= place.longitude %>, 4]
        <% else %>
        ['<%= link_to place.name, place_path(place), target: '_blank' %><br/><%= place.description %>', <%= place.latitude %>, <%= place.longitude %>, 4],
        <% end %>
      <% end %>
    ];

function initMap() {   
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: {lat: 37.555130, lng: 126.970642},
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow({});

  var marker, i;

  for (i = 0; i < locations.length; i++) {    
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map      
    });

    google.maps.event.addListener(marker, 'mouseover', (function (marker, i) {
      return function () {
        infowindow.setContent(locations[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
}


  
</script>


<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK_huzJVDO9wpqvUxcwee-lJXuImrt_zI&callback=initMap">
    </script>




<div id="map"></div>

</div>








<div class="index-booyah-box col-md-6 col-xs-12">
  <h2 class="text-center">PLACES</h2>
  <hr />
  <!-- checkbox and filter-->



  <form class="form-inline" role="form">
  <div class="form-group">
    <label>Looking for..</label>&nbsp&nbsp     
    <label class="checkbox-inline">
      <input type="checkbox" value="1">
      <%= image_tag 'see.png' %> Attractions       
    </label> &nbsp&nbsp
    <label class="checkbox-inline">
      <input type="checkbox" value="2">
      <%= image_tag 'eat.png' %> Restaurants
    </label> &nbsp&nbsp
    <label class="checkbox-inline">
      <input type="checkbox" value="3">
      <%= image_tag 'accommodations.png' %> Accommodations
    </label>
  </div>
</form>
  <hr />
  
 
<% if @places.blank? %>
<div class="text-center">
  <h3>There are no places containing the term <b><i><%= params[:search] %></i></b>.</h3>
</div>
<% end %>



 <div class="row">
  <% @places.each do |place| %> 
  <div class="index-booyah-inner-box col-xs-10 col-sm-6">
    <b><%= link_to place.name, place_path(place), target: '_blank' %></b><br />
    <i><%= place.description %></i><br />
    <%= place.address %>
  </div>
  <% end %>  
</div>


  
</div>
</div>

    <div class="clear"></div>

<!-- div class="text-center"-->
  <!-- %= paginate @places %-->
<!-- /div-->